*~
moc_*.cpp
*.o
*.swp
Makefile
RoverGauge.pro.user
rovergauge
qrc_rovergauge_resources.cpp
ui_*.h
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
cmake_install.cmake
qrc_rovergauge_resources.cxx
rovergauge_automoc.cpp
rovergauge_resources.qrc.depends
CMakeLists.txt.user
rovergauge.cbp
LICENSE.TXT
README.TXT
rovergauge.exe
install_manifest.txt
rovergauge-*.zip
*.deb
*.tar.gz
