moc_*.cpp
*.o
Makefile
RoverGauge.pro.user
rovergauge
qrc_rovergauge_resources.cpp
ui_mainwindow.h
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
cmake_install.cmake
